[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
randonautentropy = "*"
lyagushka = {path = "./lyagushka-0.1.0-py2.py3-none-any.whl"}
questionary = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
