[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
randonautentropy = "*"
lyagushka = {file = "https://github.com/randogoth/lyagushka/releases/download/1.1.1/lyagushka-1.1.1-cp312-cp312-manylinux_2_34_x86_64.whl"}
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
