[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
randonautentropy = "*"
questionary = "*"
rich = "*"
lyagushka = {file = "lyagushka-1.1.0-cp312-cp312-manylinux_2_34_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.12"
